/node_modules
/public/hot
/public/media
/.idea
/.gitattributes
/public/front/media
/public/images
/public/storage
/storage/*.key
/storage/app
/old
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
